selenium
beautifulsoup4
pandas
webdriver-manager
fugashi[unidic-lite]
wordcloud
matplotlib
japanize_matplotlib
numpy
pandas
scipy
matplotlib
seaborn
plotly
statsmodels
arch
QuantLib
scikit-learn
torch
yfinance
ccxt
pystan
pymc
